body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: sans-serif;
}


#display{
    background-color: orange;
    margin:  0 px;
    width: 100%;
    height: 100%;
}

#taskbar{
    height: 10%;
    width: 80%;
    margin-left: 10%;

    /*les ombres*/
    box-shadow: 0px 0px 1vh black;


    position: absolute;
    top: 85%;
    
    border-radius: 2vh;
    background-color: gray;

    /* pour aligner de gauche a droite*/
    display: flex;
    z-index: 100000000;
}

.window{
    background-color: white;
    position: absolute;
    border:  2px solid grey;
    border-radius: 2vh;
    /* pour mettre une ombre center*/
    box-shadow: 0px 0px 1vh black;
}

.toolbar{
    padding-left:2% ;
    border-bottom:2px solid grey ;
}

.taskbarbtn{
    position:static;
    margin: 0.5%;
    padding: 0px;
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px red;
}

.taskbarimg{
    margin: 0px;
    height: 100%;
    width: 100%;
    border-radius: 1vh;
    transition:transform 0.3s;;
}
.taskbarimg:hover{
    transform: scale(1.2);
}

.iframewin{
    width: 100%;
    height: 100%;
    border: 0px;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius:2vh;
}

.closebtn{
    margin: 0px;
    height: max-content;
    width: 5vh;
    border-radius: 0px;
    border-top-right-radius:2vh ;
    border: 0px;
    border-left: 2px solid gray;
    background-color: white;
    float: right;


}
.closebtn:hover{
    background-color: red;
}