body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: sans-serif;
}


#display{
    background-color: orange;
    margin:  0 px;
    width: 100%;
    height: 100%;
}

#taskbar{
    height: 10%;
    width: 80%;
    margin-left: 10%;
    
    position: absolute;
    top: 85%;


    border-radius: 2vh;
    background-color: gray;
}

.window{
    background-color: white;
    position: absolute;
    border:  2px solid grey;
    border-radius: 2vh;
    box-shadow: 10px 10px 5px black;
}

.toolbar{
    padding-left:2% ;
    border-bottom:2px solid grey ;
}